.ant-layout {
  background: #FFF !important;
  .ant-layout-header {
    display: flex;
    padding: 0 25px;
    line-height: inherit;
    align-items: center;
    justify-items: center;
    background: #FFF !important;
  }
  .ant-layout-sider {
    flex: 1 !important;
    max-width: 250px !important;
    min-width: 200px !important;
  }
}
